---
- name: Install Terminator
  apt:
    name: terminator
    state: present

- name: Ensure Terminator config directory exists
  file:
    path: "/home/{{ lookup('env','USER') }}/.config/terminator"
    state: directory
    owner: "{{ lookup('env','USER') }}"
    group: "{{ lookup('env','USER') }}"
    mode: "0755"

- name: Add basic Terminator config
  become: true
  copy:
    src: config
    dest: "/home/{{ lookup('env','USER') }}/.config/terminator/config"
    owner: "{{ lookup('env','USER') }}"
    group: "{{ lookup('env','USER') }}"
    mode: "0644"

- name: Add basic Terminator config
  become: false
  copy:
    dest: "/home/{{ user }}/.config/terminator/config"
    content: |
      [global_config]
        enabled_plugins = LaunchpadCodeURLHandler, TerminalShot
      [keybindings]
      [profiles]
        [[default]]
          font = Hack Nerd Font 12
          use_system_font = False
      [layouts]
        [[default]]
          [[[child1]]]
            type = Terminal
            parent = window0
          [[[window0]]]
            type = Window
            parent = ""
      [plugins]
