- name: Get system architecture
  ansible.builtin.command: uname -m
  register: arch_raw
  changed_when: false

- name: Map architecture to kubectl arch suffix
  set_fact:
    kubectl_arch: >-
      {{
        (
          'amd64' if arch_raw.stdout == 'x86_64' else
          'arm64' if arch_raw.stdout in ['aarch64', 'arm64'] else
          'unsupported'
        )
      }}

- name: Fail if architecture is unsupported
  ansible.builtin.fail:
    msg: "Unsupported architecture: {{ arch_raw.stdout }}"
  when: kubectl_arch == 'unsupported'

- name: Get latest stable kubectl version
  ansible.builtin.uri:
    url: https://dl.k8s.io/release/stable.txt
    return_content: yes
  register: kubectl_version

- name: Set kubectl download URL
  set_fact:
    kubectl_url: "https://dl.k8s.io/release/{{ kubectl_version.content }}/bin/linux/{{ kubectl_arch }}/kubectl"

- name: Download kubectl binary
  become: true
  ansible.builtin.get_url:
    url: "{{ kubectl_url }}"
    dest: /usr/local/bin/kubectl
    mode: '0755'
