---
- name: Install Zsh
  apt:
    name: zsh
    state: present

- name: Install Oh My Zsh
  become: false
  shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  args:
    creates: "/home/{{ user }}/.oh-my-zsh"

- name: Set Zsh as default shell
  user:
    name: "{{ user }}"
    shell: /usr/bin/zsh

- name: Add custom .zshrc
  become: false
  copy:
    dest: "/home/{{ user }}/.zshrc"
    content: |
      export ZSH="$HOME/.oh-my-zsh"
      ZSH_THEME="agnoster"
      plugins=(git docker kubectl terraform fzf)
      source $ZSH/oh-my-zsh.sh

      # Custom aliases
      alias k="kubectl"
      alias tf="terraform"
      alias d="docker"
      alias gs="git status"
      alias ll="ls -la"
      alias v="nvim"
      alias k="kubectl"
      alias zshrc="nvim /home/mikaela/.zshrc"
      alias zshrcReload="source /home/mikaela/.zshrc"
      alias bashrc="nvim /home/mikaela/.bashrc"
      alias bashrcReload="source /home/mikaela/.bashrc"

      # FZF config
      [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

      plugins=(git docker kubectl terraform fzf zsh-autosuggestions zsh-syntax-highlighting)


- name: Install zsh-autosuggestions plugin
  become: false
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "/home/{{ user }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"

- name: Install zsh-syntax-highlighting plugin
  become: false
  git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting
    dest: "/home/{{ user }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
