- name: Detect system architecture
  become: false
  ansible.builtin.command: uname -m
  register: system_arch_raw
  changed_when: false

- name: Show detected system_arch
  ansible.builtin.debug:
    msg: "Detected architecture for system_arch_raw: {{ system_arch_raw.stdout }}"

- name: Map architecture to K9s suffix
  set_fact:
    k9s_arch: >-
      {{
        (
              'amd64' if system_arch_raw.stdout == 'x86_64' else
              'arm64' if system_arch_raw.stdout in ['aarch64', 'arm64'] else
          'unsupported'
        )
      }}

- name: Show detected K9s architecture
  ansible.builtin.debug:
    msg: "Detected architecture for K9s: {{ k9s_arch }}"

- name: Get latest K9s release version
  ansible.builtin.uri:
    url: https://api.github.com/repos/derailed/k9s/releases/latest
    return_content: yes
  register: k9s_release

- name: Extract K9s version tag
  set_fact:
    k9s_version: "{{ (k9s_release.content | from_json).tag_name }}"

- name: Set K9s download URL
  set_fact:
    k9s_url: "https://github.com/derailed/k9s/releases/download/{{ k9s_version }}/k9s_Linux_{{ k9s_arch }}.tar.gz"

- name: Ensure /tmp/k9s directory exists
  become: true
  ansible.builtin.file:
    path: "/tmp/k9s"
    state: directory
    mode: '0755'

- name: Download K9s tarball
  become: false
  ansible.builtin.get_url:
    url: "{{ k9s_url }}"
    dest: "/tmp/k9s.tar.gz"
    mode: '0644'

- name: Extract K9s tarball to temp directory
  become: true
  ansible.builtin.unarchive:
    src: "/tmp/k9s.tar.gz"
    dest: "/tmp/k9s"
    remote_src: yes

- name: Move K9s binary to /usr/local/bin
  become: true
  ansible.builtin.copy:
    src: "/tmp/k9s/k9s"
    dest: "/usr/local/bin/k9s"
    mode: '0755'
    remote_src: yes

- name: Extract K9s tarball to temp directory
  become: false
  ansible.builtin.unarchive:
    src: "/tmp/k9s.tar.gz"
    dest: "/tmp/k9s"
    remote_src: yes

- name: Move K9s binary to /usr/local/bin
  become: true
  ansible.builtin.copy:
    src: "/tmp/k9s/k9s"
    dest: "/usr/local/bin/k9s"
    mode: '0755'
    remote_src: yes

- name: Ensure K9s binary is executable
  become: true
  ansible.builtin.file:
    path: "/usr/local/bin/k9s"
    mode: '0755'
    state: file

- name: Remove K9s temporary files
  become: true
  ansible.builtin.file:
    path: "/tmp/k9s"
    state: absent

- name: Remove K9s tarball
  become: true
  ansible.builtin.file:
    path: "/tmp/k9s.tar.gz"
    state: absent
